$black   : #000;
$dark   : #333;
$white : #fff;
$yellow: #F1BD45;
$yellow2: #FFF3D8;
$gray: #DEDEDE;
$gray2: #8B8B8B;
$yellowH: #eecc7d;
$grayH: #f8f8f8;


$grayImg:#C4C4C4;

$grayTxt: #A9A9A9;

$link: #5375B7;
$linkDark: #1145ad;